</div>

<script src="${context}/js/jquery.min.js"></script>
<script src="${context}/js/bootstrap.min.js"></script>
<script src="${context}/js/fileinput.min.js"></script>
<script src="${context}/js/themes/fa.js"></script>
<script src="${context}/js/locales/fr.js"></script>
<script src="${context}/js/tool.js"></script>
</body>
</html>